---
import Nav from "../components/Nav.astro";
// import Footer from "../components/Footer.astro";
import avatar from "../assets/images/pharoh.jpg";

const category = "PERSONAL"
const title= "Tattoos. A innocent form of self-expression or more?"
const image= "https://cdn.discordapp.com/attachments/1067564605389406249/1068391799846097007/1bd751f5-d0f6-4e64-a5c1-90ff5b9b9461.jpg"
const alt= "Heavily tattoo'd mystic. Pronouns she/her"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href={Astro.resolve("../assets/style/global.css")}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header class="w-full">
      <Nav title="Nav"/>
		</header>
		<main class="bg-black">
			<section>

<div class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-2-screen-lg">
    <div class="max-w-screen-md mx-auto">
        <div class="text-center">
            <span class="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-emerald-700">{category}</span>
        </div>
        <h1 class="mt-2 mb-3 text-3xl font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-4x1 text-white">{title}</h1>
        <div class="flex justify-center mt-3 space-x3 text-gray-500">
            <div class="flex items-center gap-3">
                <div class="relative flex-shrink-0 w-10 h-10">
                    <img alt="Avatar" class="rounded-full" width="80" height="80" src={avatar} loading="eager" decoding="async">
                </div>
                <div>
                    <p class="text-white"><span class="text-blue">Jay</span> White</p>
                    <div class="flex items-center space-x-2 text-sm">
                        <time class="text-white" datetime="Thu Jan 27 2023 00:47:11 GMT+0000 (Coordinated Universal Time)">Jan 27, 2023</time>
                        <span> - 5 min read </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relative z-0 max-w-screen-lg mx-auto overflow-hidden lg:rounded-lg aspect-video">
    <img src={image} loading="eager" decoding="async" alt={alt} class="w-full h-auto">
</div>
<div class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-2-screen-lg">
    <article class="max-w-screen-md mx-auto">
        <div class="mx-auto my-3 text-white leading-loose">
            <p class=" mb-6">
                <strong>
                    Tattoos have a long and rich history, dating back to ancient civilizations such as the Egyptians, Greeks, and Polynesians. In these cultures, tattoos were often used for ceremonial or spiritual purposes, such as marking a person's status within a community or as a way to connect with the spiritual realm.
                </strong>
            </p>
            <p class=" mb-6">
                As time passed, tattoos became associated with sailors and soldiers, who would often get tattoos as a way to commemorate their experiences at sea or in battle. However, it wasn't until the 20th century that tattoos truly became mainstream, with the rise of the electric tattoo machine and the influence of Hollywood and pop culture.
            </p>
            <p class="imb-6">
                Today, tattoos have become a form of self-expression and personal identity for many people. From simple designs to elaborate works of art, tattoos can convey a wide range of meanings and emotions. But beyond the surface level aesthetic, tattoos also possess deep occult and esoteric significance.
            </p>
            <p class=" mb-6">
                The occult is defined as hidden knowledge or practices, often associated with magic, alchemy, and the supernatural. Esoteric refers to knowledge that is intended for or likely to be understood by only a small number of people with a specialized knowledge or interest. Both have a long history of association with tattoos.
            </p>
            <p class=" mb-6">
                One example of the occult significance of tattoos is the use of symbols and sigils. A sigil is a symbol or sign that has been imbued with magical power, often used in ritual and ceremonial practices. In the occult, sigils are often used to manifest a specific intention or to call upon a specific energy or spirit. Tattoos of sigils can serve as a constant reminder of the wearer's intention and a way to align with that energy in daily life.
            </p>
            <p class=" mb-6">
                Another example of the occult significance of tattoos is the use of astrological symbols. Astrology is the study of the movements and relative positions of celestial bodies as a means of divining information about human affairs and terrestrial events. Tattoos of astrological symbols can serve as a reminder of the wearer's astrological chart and the energies present in their life.
            </p>
            <p class=" mb-6">
                A third example is the use of spiritual tattoos, such as the Om symbol in Hinduism or the Eye of Horus in ancient Egypt. These symbols hold deep spiritual meaning and can serve as a reminder of the wearer's connection to a higher power and a source of inspiration and guidance in their spiritual journey.
            </p>
            <p class=" mb-6">
                Tattoos can also be used in rituals and ceremonies, as a way to mark a significant event or achievement in one's life. For example, a tattoo of a specific symbol or image can serve as a reminder of a powerful spiritual experience or a rite of passage.
            </p>
            <p class=" mb-6">
                In conclusion, tattoos are not just a form of self-expression, they also possess deep occult and esoteric significance. From the use of symbols and sigils to astrological symbols and spiritual tattoos, tattoos have been used in a variety of ways to align with spiritual energies, manifest intentions, and mark significant events in one's life. Tattoos can serve as a constant reminder of one's spiritual path and connection to a higher power.
            </p>
            <div class="flex flex-wrap items-center w-full gap-3 md:w-auto">
                <span class="text-sm text-gray-500">#tattoo</span>
                <span class="text-sm text-gray-500">#occult</span>
                <span class="text-sm text-gray-500">#symbols</span>
            </div>
        </div>
    <div class="flex justify-center mt-7 mb-7">
        <a href="/astro-blog/" class="px-5 py-3 text-sm text-blue transition rounded-md bg-white hover:bg-blue-100">View all posts</a>
    </div>
    <div class="px-8 py-8 mt-3 text-gray-500 rounded-2x1 bg-slate-800">
        <div class="flex flex-wrap items-start gap-3 sm:flex-nowrap sm:gap-6">
            <div class="relative flex-shrink-0 w-24 h-24 mt-1">
                <img alt="Author Photo" class="rounded-full" width="96" height="96" src={avatar} loading="eager" decoding="async">
            </div>
            <div>
                <p class="text-lg font-medium text-white text-center">About Jay White</p>
            </div>
            <div class="mt-3">
                <p>Jay White is a Certified Web Developer and Software Engineer.</p>
            </div>
        </div>
    </div>
    </article>
</div>
			</section>
        </main>
           <!-- <Footer/> -->
    </body>
</html>