---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import avatar from "../assets/images/pharoh.jpg";

const category = "TRAVEL"
const title= "These 5 cities are home to the most magical places on earth"
const image= "https://cdn.discordapp.com/attachments/1065105542223237131/1068391324195237978/9b5251e8-d55f-4f12-ba8d-c0458539cbcd.jpg"
const alt= "Magic City"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href={Astro.resolve("../assets/style/global.css")}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header class="w-full">
      <Nav title="Nav"/>
		</header>
		<main class="bg-black">
			<section>

<div class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-2-screen-lg">
    <div class="max-w-screen-md mx-auto">
        <div class="text-center">
            <span class="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-emerald-700">{category}</span>
        </div>
        <h1 class="mt-2 mb-3 text-3xl font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-4x1 text-white">{title}</h1>
        <div class="flex justify-center mt-3 space-x3 text-gray-500">
            <div class="flex items-center gap-3">
                <div class="relative flex-shrink-0 w-10 h-10">
                    <img alt="Avatar" class="rounded-full" width="80" height="80" src={avatar} loading="eager" decoding="async">
                </div>
                <div>
                    <p class="text-white"><span class="text-blue">Jay</span> White</p>
                    <div class="flex items-center space-x-2 text-sm">
                        <time class="text-white" datetime="Thu Jan 27 2023 00:47:11 GMT+0000 (Coordinated Universal Time)">Jan 27, 2023</time>
                        <span> - 5 min read </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relative z-0 max-w-screen-lg mx-auto overflow-hidden lg:rounded-lg aspect-video">
    <img src={image} loading="eager" decoding="async" alt={alt} class="w-full h-auto">
</div>
<div class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-2-screen-lg">
    <article class="max-w-screen-md mx-auto">
        <div class="mx-auto my-3 text-white leading-loose">
            <p class=" mb-6">
                <strong>
                    When it comes to magical cities, there are countless options to choose from around the world. From ancient ruins to modern metropolises, each city holds its own unique brand of magic. Here are five of the most magical cities in the world that are worth visiting for their captivating history, culture, and energy.
                </strong>
            </p>
            <p class=" mb-6">
                <h1>Kyoto, Japan</h1>
                <br/>
                Kyoto is a city steeped in tradition and history. Known as the "city of ten thousand shrines," Kyoto is home to over 2,000 temples and shrines, many of which date back to the 7th century. The city is also known for its beautiful gardens, including the famous Kyoto Imperial Palace Park and the Ryoan-ji Temple rock garden. The city's traditional atmosphere is enhanced by the presence of geisha and maiko, who can often be seen walking through the streets in their traditional attire.
            </p>
            
            <p class="imb-6">
                <br/>
                <h1>Marrakech, Morocco</h1>
                <br/>
                Marrakech is a city that is brimming with energy and magic. The city is famous for its vibrant markets, such as the Bahia Palace and the Bahia Palace, where you can find everything from spices to traditional Moroccan textiles. The city also boasts a number of stunning palaces and gardens, including the Bahia Palace and the Jardin Majorelle. The city's energy is also palpable in its lively souks, where merchants haggle over prices and locals gather to enjoy mint tea and traditional Moroccan music.
            </p>
            <p class=" mb-6">
                <h1>Edinburgh, Scotland</h1>
                <br/>
                Edinburgh is a city that is steeped in history and magic. The city is known for its imposing castle, which sits atop an extinct volcano, and its winding streets lined with medieval and Georgian buildings. The city is also home to a number of museums and galleries, such as the National Museum of Scotland and the National Gallery of Scotland. Edinburgh is also famous for its annual festival, which features a wide range of performances, including music, theater, and comedy.
            </p>
            <p class=" mb-6">
                <h1>Jerusalem, Israel</h1>
                <br/>
                Jerusalem is a city that holds a special place in the hearts of many people around the world. The city is home to a number of religious sites, including the Western Wall, the Dome of the Rock, and the Church of the Holy Sepulchre. The city is also known for its vibrant markets, such as the Machane Yehuda market, where you can find a wide range of products, including spices, clothing, and traditional Jewish food. The city's energy is also palpable in its religious festivals, such as Passover and Easter, which bring thousands of people from around the world to the city.
            </p>
            <p class=" mb-6">
                <h1>Venice, Italy</h1>
                <br/>
                Venice is a city that is known for its romance and magic. The city is built on a network of canals and is home to a number of stunning palaces and churches, such as the Basilica di San Marco and the Palazzo Ducale. The city is also famous for its gondolas, which are used to navigate the city's canals. The city's energy is also palpable in its lively carnival, which takes place every year in February, where locals and visitors alike dress in traditional costumes and masks.
            </p>
            <p class=" mb-6">
                In conclusion, these five cities are just a small sampling of the many magical cities that can be found around the world. Each of these cities holds its own unique brand of magic and offers visitors a chance to experience a different culture and history. Whether you are looking for ancient ruins or modern metropolises, these cities are sure to captivate and inspire.
            </p>
            <div class="flex flex-wrap items-center w-full gap-3 md:w-auto">
                <span class="text-sm text-gray-500">#travel</span>
                <span class="text-sm text-gray-500">#japan</span>
                <span class="text-sm text-gray-500">#bucketlist</span>
            </div>
        </div>
    <div class="flex justify-center mt-7 mb-7">
        <a href="/astro-blog/" class="px-5 py-3 text-sm text-blue transition rounded-md bg-white hover:bg-blue-100">View all posts</a>
    </div>
    <div class="px-8 py-8 mt-3 text-gray-500 rounded-2x1 bg-slate-800">
        <div class="flex flex-wrap items-start gap-3 sm:flex-nowrap sm:gap-6">
            <div class="relative flex-shrink-0 w-24 h-24 mt-1">
                <img alt="Author Photo" class="rounded-full" width="96" height="96" src={avatar} loading="eager" decoding="async">
            </div>
            <div>
                <p class="text-lg font-medium text-white text-center">About Jay White</p>
            </div>
            <div class="mt-3">
                <p>Jay White is a Certified Web Developer and Software Engineer.</p>
            </div>
        </div>
    </div>
    </article>
</div>
			</section>
        </main>
        <footer>
           <Footer/>
        </footer>
    </body>
</html>