---
import Nav from "../components/Nav.astro";
// import Footer from "../components/Footer.astro";
import avatar from "../assets/images/pharoh.jpg";

const category = "SPIRIT"
const title= "This ceremony will purify your Body and Spirit"
const image="https://cdn.discordapp.com/attachments/1065106875420520538/1068462961217261598/f18f4527-11c0-4dec-95ff-16061770898d.jpg"
const alt= "A Lakota cheif"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href={Astro.resolve("../assets/style/global.css")}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header class="w-full">
      <Nav title="Nav"/>
		</header>
		<main class="bg-black">
			<section>

<div class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-2-screen-lg">
    <div class="max-w-screen-md mx-auto">
        <div class="text-center">
            <span class="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-emerald-700">{category}</span>
        </div>
        <h1 class="mt-2 mb-3 text-3xl font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-4x1 text-white">{title}</h1>
        <div class="flex justify-center mt-3 space-x3 text-gray-500">
            <div class="flex items-center gap-3">
                <div class="relative flex-shrink-0 w-10 h-10">
                    <img alt="Avatar" class="rounded-full" width="80" height="80" src={avatar} loading="eager" decoding="async">
                </div>
                <div>
                    <p class="text-white"><span class="text-blue">Jay</span> White</p>
                    <div class="flex items-center space-x-2 text-sm">
                        <time class="text-white" datetime="Thu Jan 27 2023 00:47:11 GMT+0000 (Coordinated Universal Time)">Jan 27, 2023</time>
                        <span> - 5 min read </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relative z-0 max-w-screen-lg mx-auto overflow-hidden lg:rounded-lg aspect-video">
    <img src={image} loading="eager" decoding="async" alt={alt} class="w-full h-auto object-contain">
</div>
<div class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-2-screen-lg">
    <article class="max-w-screen-md mx-auto">
        <div class="mx-auto my-3 text-white leading-loose">
            <p class=" mb-6">
                <strong>
                    The inipi ceremony, also known as the "sweat lodge," is a sacred ritual that has been practiced by many indigenous cultures for thousands of years. It's a way of connecting with the spirit world and purifying the body, mind, and soul. I had always been curious about the inipi ceremony, so when I had the opportunity to participate in one, I jumped at the chance.
                </strong>
            </p>
            <p class=" mb-6">
                The ceremony was held in a small clearing deep in the woods. The sweat lodge itself was a small dome-shaped structure made of bent willow branches and covered in blankets. Inside, there was a small fire pit in the center, where hot stones were placed. The ceremony began with a prayer and a smudging ceremony, in which sage was burned and the smoke was used to purify the participants and the lodge.
            </p>
            <p class="imb-6">
                Once everyone was inside, the door was closed, and the heat began to build. The stones in the fire pit were heated to a glowing red, and then water was poured over them, creating steam. The heat was intense, and I could feel the sweat pouring down my face and back. I was surprised by how quickly my body became accustomed to the heat, and I found myself feeling relaxed and at peace.
            </p>
            <p class=" mb-6">
                As the ceremony progressed, the leader of the ceremony sang traditional songs and prayers in his native language. The songs and prayers were used to honor the four directions, the elements, and the spirit world. I couldn't understand the words, but I could feel the power and intention behind them. The leader also offered individual prayers and songs for the participants, and it was a deeply personal and moving experience.
            </p>
            <p class=" mb-6">
                As the ceremony came to a close, the door was opened, and we were invited to leave the lodge. The cool air hit me like a wall, and I felt invigorated and refreshed. I was surprised by how clear my mind felt, and how much more connected I felt to the natural world around me.
            </p>
            <p class=" mb-6">
                After the ceremony, we sat in a circle and shared our experiences. Some people talked about feeling a deep sense of peace and connection, while others talked about feeling a sense of physical and emotional release. I shared my own experience, which was one of deep relaxation and a feeling of being at one with the natural world.
            </p>
            <p class=" mb-6">
                As I left the ceremony, I felt a sense of gratitude and respect for the culture and tradition that created it. I felt grateful for the opportunity to participate in such a powerful and transformative ritual. I also realized that the inipi ceremony was not just something that belonged to the indigenous people who created it, but something that belonged to all of humanity.
            </p>
            <p class=" mb-6">
                The inipi ceremony was a humbling and transformative experience. It reminded me of the importance of connecting with the natural world and the spirit world. It also reminded me of the power of ritual and tradition in helping us connect with ourselves and others. I am grateful for the opportunity to have participated in such an ancient and powerful ritual. I will carry the memory of the inipi ceremony with me always and hope to participate in another one in the future.
            </p>
            <div class="flex flex-wrap items-center w-full gap-3 md:w-auto">
                <span class="text-sm text-gray-500">#Inipi</span>
                <span class="text-sm text-gray-500">#sweatlodge</span>
                <span class="text-sm text-gray-500">#ceremony</span>
            </div>
        </div>
    <div class="flex justify-center mt-7 mb-7">
        <a href="/astro-blog/" class="px-5 py-3 text-sm text-blue transition rounded-md bg-white hover:bg-blue-100">View all posts</a>
    </div>
    <div class="px-8 py-8 mt-3 text-gray-500 rounded-2x1 bg-slate-800">
        <div class="flex flex-wrap items-start gap-3 sm:flex-nowrap sm:gap-6">
            <div class="relative flex-shrink-0 w-24 h-24 mt-1">
                <img alt="Author Photo" class="rounded-full" width="96" height="96" src={avatar} loading="eager" decoding="async">
            </div>
            <div>
                <p class="text-lg font-medium text-white text-center">About Jay White</p>
            </div>
            <div class="mt-3">
                <p>Jay White is a Certified Web Developer and Software Engineer.</p>
            </div>
        </div>
    </div>
    </article>
</div>
			</section>
        </main>
           <!-- <Footer/> -->
    </body>
</html>