---
const {image, category, title, avatar, alt} = Astro.props;
---

<div class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-2-screen-lg">
    <div class="max-w-screen-md mx-auto">
        <div class="text-center">
            <span class="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-emerald-700">{category}</span>
        </div>
        <h1 class="mt-2 mb-3 text-3xl font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-4x1 text-white">{title}</h1>
        <div class="flex justify-center mt-3 space-x3 text-gray-500">
            <div class="flex items-center gap-3">
                <div class="relative flex-shrink-0 w-10 h-10">
                    <img alt="Avatar" class="rounded-full" width="80" height="80" src={avatar} loading="eager" decoding="async">
                </div>
                <div>
                    <p class="text-white"><span class="text-blue">Jay</span> White</p>
                    <div class="flex items-center space-x-2 text-sm">
                        <time class="text-white" datetime="Thu Jan 27 2023 00:47:11 GMT+0000 (Coordinated Universal Time)">Jan 27, 2023</time>
                        <span> - 5 min read </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relative z-0 max-w-screen-lg mx-auto overflow-hidden lg:rounded-lg aspect-video">
    <img src={image} loading="eager" decoding="async" alt={alt} class="w-full h-auto">
</div>
<div class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-2-screen-lg">
    <article class="max-w-screen-md mx-auto">
        <div class="mx-auto my-3 text-white">
            <p>
                <strong>
                    "Walking in nature has long been known to lead to inspiration and self-actualization. Notable figures such as Henry David Thoreau, John Muir, and Mark Twain have all attested to the transformative power of spending time in nature."
                </strong>
            </p>
            <p>
                "One such experience can be found in the Mark Twain National Forest in Missouri. As I ventured out on a hike, I found myself surrounded by the lush greenery and the sound of a nearby stream. The tranquility of the forest was only interrupted by the occasional bird call or rustling of leaves."
            </p>
            <p>
                "As I continued on my hike, I stumbled upon a clearing where I came face to face with a baby brown bear. The bear, seemingly just as surprised to see me, froze in its tracks. For a moment, time seemed to stand still as I looked into the bear's eyes and saw a reflection of my own humanity."
            </p>
            <p>
                "In that moment, I felt a sense of connection to the natural world and a realization of my own place within it. I realized that just as the bear was a part of the forest, I too was a part of the larger ecosystem. This experience made me feel small yet significant, a part of something greater than myself."
            </p>
            <p>
                "As I continued on my hike, I couldn't help but feel a sense of newfound clarity and purpose. The experience in the forest had allowed me to let go of my daily worries and focus on the present moment. It reminded me of the importance of taking the time to connect with nature and to find inspiration in the world around us."
            </p>
            <p>
                "In conclusion, walking in nature can lead to self-actualization in a number of ways. From the inspiration found by notable figures to the personal realization experienced on a hike in the Mark Twain National Forest, nature has the power to transform and enlighten us. It is a reminder that we are all connected to the natural world and that by taking the time to connect with it, we can find a greater sense of purpose and understanding of ourselves."
            </p>
            <div class="flex flex-wrap items-center w-full gap-3 md:w-auto">
                <span class="text-sm text-gray-500">#nature</span>
                <span class="text-sm text-gray-500">#self-actualization</span>
                <span class="text-sm text-gray-500">#gandalf</span>
            </div>
        </div>
    <div class="flex justify-center mt-7 mb-7">
        <a href="/astro-blog/" class="px-5 py-3 text-sm text-blue transition rounded-md bg-white hover:bg-blue-100">View all posts</a>
    </div>
    <div class="px-8 py-8 mt-3 text-gray-500 rounded-2x1 bg-slate-800">
        <div class="flex flex-wrap items-start gap-3 sm:flex-nowrap sm:gap-6">
            <div class="relative flex-shrink-0 w-24 h-24 mt-1">
                <img alt="Author Photo" class="rounded-full" width="96" height="96" src={avatar} loading="eager" decoding="async">
            </div>
            <div>
                <p class="text-lg font-medium text-white text-center">About Jay White</p>
            </div>
            <div class="mt-3">
                <p>Jay White is a Certified Web Developer and Software Engineer.</p>
            </div>
        </div>
    </div>
    </article>
</div>