---
import Nav from "../components/Nav.astro";
import Foot from "../components/Foot.astro";
import avatar from "../assets/images/pharoh.jpg";
import Authorbio from "../components/Authorbio.astro";

const {category, title, image, alt } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href={Astro.resolve("../assets/style/global.css")}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header class="w-full">
      <Nav title="Nav"/>
		</header>
		<main class="bg-black">
			<section>

<div class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-2-screen-lg">
    <div class="max-w-screen-md mx-auto">
        <div class="text-center">
            <span class="inline-block mt-5 text-xs font-medium tracking-wider uppercase text-emerald-700">{category}</span>
        </div>
        <h1 class="mt-2 mb-3 text-3xl font-semibold tracking-tight text-center lg:leading-snug text-brand-primary lg:text-4x1 text-white">{title}</h1>
        <div class="flex justify-center mt-3 space-x3 text-gray-500">
            <div class="flex items-center gap-3">
                <div class="relative flex-shrink-0 w-10 h-10">
                    <img alt="Avatar" class="rounded-full" width="80" height="80" src={avatar} loading="eager" decoding="async">
                </div>
                <div>
                    <p class="text-white"><span class="text-blue">Jay</span> White</p>
                    <div class="flex items-center space-x-2 text-sm">
                        <time class="text-white" datetime="Thu Jan 27 2023 00:47:11 GMT+0000 (Coordinated Universal Time)">Jan 27, 2023</time>
                        <span> - 5 min read </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relative z-0 max-w-screen-lg mx-auto overflow-hidden lg:rounded-lg aspect-video">
    <img src={image} loading="eager" decoding="async" alt={alt} class="w-full h-auto">
</div>
<div class="container px-8 py-5 lg:py-8 mx-auto xl:px-5 max-2-screen-lg">
    <article class="max-w-screen-md mx-auto">
        <div class="mx-auto my-3 text-white leading-loose">
            <p class=" mb-6 text-center w-64 flex mx-auto">
                <strong>
                    The Lotus blooms in muddy water,
                    Rising above the mire,
                    A symbol of beauty, purity,
                    And the spiritual fire.
                </strong>
            </p>
            <p class=" mb-6">

            </p>
            <p class="imb-6">

            </p>
            <p class=" mb-6">

            </p>
            <p class=" mb-6">

            </p>
            <p class=" mb-6">

            </p>
            <p class=" mb-6">

            </p>
            <p class=" mb-6">

            </p>
            <p class=" mb-6">

            </p>
            <p class=" mb-6">

            </p>
            <div class="flex flex-wrap items-center w-full gap-3 md:w-auto">
                <span class="text-sm text-gray-500">#lotus</span>
                <span class="text-sm text-gray-500">#herbs</span>
                <span class="text-sm text-gray-500">#culture</span>
            </div>
        </div>
    <div class="flex justify-center mt-7 mb-7">
        <a href="/astro-blog/" class="px-5 py-3 text-sm text-blue transition rounded-md bg-white hover:bg-blue-100">View all posts</a>
    </div>
    <Authorbio/>
    </article>
</div>
			</section>
        </main>
        <slot />
        <Foot/>
    </body>
</html>